@page "/UserInformation/UserId={myUserId:int}&CompanyId={myCompanyId:int}"
<h3>Thông tin chi tiết người dùng</h3>
@inject IUserService UserService

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Thông tin cá nhân
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Tên</dt>
                        <dd class="col-sm-8">@userInfo.FirstName</dd>

                        <dt class="col-sm-4">Họ</dt>
                        <dd class="col-sm-8">@userInfo.LastName</dd>

                        <dt class="col-sm-4">Địa chỉ emaail</dt>
                        <dd class="col-sm-8">@userInfo.Email</dd>

                        <dt class="col-sm-4">Số điện thoại</dt>
                        <dd class="col-sm-8">@userInfo.PhoneNumber</dd>

                        <dt class="col-sm-4">Địa chỉ</dt>
                        <dd class="col-sm-8">@userInfo.Address</dd>

                        <dt class="col-sm-4">Vai trò</dt>
                        <dd class="col-sm-8">@userInfo.Role</dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Thông tin công ty
                </div>
                <div class="card-body">
                    <dl class="row">
                        <dt class="col-sm-4">Tên công ty</dt>
                        <dd class="col-sm-8">@company.CompanyName</dd>

                        <dt class="col-sm-4">Địa chỉ email công ty</dt>
                        <dd class="col-sm-8">@company.CompanyEmail</dd>

                        <dt class="col-sm-4">Số điện thoại công ty</dt>
                        <dd class="col-sm-8">@company.CompanyPhoneNumber</dd>

                        <dt class="col-sm-4">Vai trò công ty</dt>
                        <dd class="col-sm-8">@company.CompanyRoleName</dd>

                        <dt class="col-sm-4">Địa chỉ công ty</dt>
                        <dd class="col-sm-8">@company.CompanyAddress</dd>
                    </dl>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public int myUserId { get; set; }
    [Parameter]
    public int myCompanyId { get; set; }
    private UserInfo userInfo = new();
    private CompanyInfo company = new();
    bool sidebarExpanded = false;
    //OnInitializedAsync là hàm khởi tạo khi chưa có bất cứ thứ gì được tạo ra
    protected override async Task OnInitializedAsync()
    {
        var response = await UserService.GetAllUserInfo(new GetAllUserInfoDTO
        {
            UserId = myUserId,
            CompanyId = myCompanyId
        });
        if(response.Success)
        {
            userInfo = response.Data.UserInfo;
            company = response.Data.Company;
        }
    }
}
