@page "/"
@inject IDashboardService DashboardService
@inject IJSRuntime js
@inject AuthenticationStateProvider AuthenticationState
@inject IUserService userService
@inject NavigationManager NavManager
@using System.Globalization


<style>
    .col-md-6 {
        display: flex;
        flex-direction: column;
    }

    .row.text-center {
        display: flex;
    }

    .col-md-4 {
        flex-grow: 1; /* Độ dài các phần tử col-md-4 sẽ bằng nhau */
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #2fac66;
        border:1px solid lightgrey
    }

    .col-md-6 {
        border: 1px solid lightgrey;
        padding-right: 5px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
</style>

<PageTitle>Home</PageTitle>

@if (companyRole == CompanyRoleEnum.Shipper)
{
    <div class="card">
        <div class="card-header">
            <div><b>Chào mừng đến với DinoTrans</b></div>
            <div>Tìm dịch vụ vận chuyển phù hợp nhất cho bạn</div>
        </div>
        <div class="card-header">
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.ActiveTenderNumber
                            </div>
                            <div>
                                Thầu đang hoạt động
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.ToAssignTenderNumber
                            </div>
                            <div>
                                Thầu đang lựa chọn
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.InExecutionTenderNumber
                            </div>
                            <div>
                                Thầu đang tiến hành
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.ConstructionMachineNumber
                            </div>
                            <div>
                                Số lượng máy vận chuyển
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.WithdrawTenderNumber
                            </div>
                            <div>
                                Số lượng thầu thu hồi
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.PercentWithdrawTender %
                            </div>
                            <div>
                                Số lượng thầu đã thu hồi
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.PercentSubmitForTender %
                            </div>
                            <div>
                                Số lượng thầu được đặt giá
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.CompletedTenderNumber
                            </div>
                            <div>
                                Số lượng thầu đã hoàn thành
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForShipper.TotalSuccessTenderMoney.ToString("N0")
                            </div>
                            <div>
                                Tổng tiền phải trả cho bên vận chuyển (VNĐ)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color:white; align-items:center;">
                    <img src="./images/logo2.png" alt="Logo" style="max-width: 120px;" />
                    <div>
                        <b>@_currentUser.Company!.CompanyName</b>
                        <div>Chúng tôi là người liên lạc của bạn, chúng tôi sẽ hỗ trợ giải đáp thắc mắc mọi vấn đề liên quan tới vận chuyển và máy xây dựng</div>
                        <div>Số điện thoại bàn: @_currentUser.PhoneNumber</div>
                        <div>Số điện thoại di động: @_currentUser.Company.PhoneNumber</div>
                        <div>Email: @_currentUser.Company.Email</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header">
            <div class="col-md-12" style="background-color:white">
                <h4>Thống kê tiền phải trả</h4>
                <RadzenChart style="height: 400px">
                    <RadzenBarSeries Data="@listMoneyByCompany" CategoryProperty="CompanyName" Title="Thống kê tiền vận chuyển" LineType="LineType.Dashed" ValueProperty="TotalMoney" Fill="green">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenBarSeries>
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Tiền phải trả (VNĐ)" />
                    </RadzenValueAxis>
                    <RadzenCategoryAxis>
                        <RadzenAxisTitle Text="Tên công ty" />
                    </RadzenCategoryAxis>
                    <RadzenBarOptions Radius="5" />
                </RadzenChart>
            </div>
         </div>
    </div>
}

@if(companyRole == CompanyRoleEnum.Admin)
{
    <div class="card">
        <div class="card-header">
            <div><b>Chào mừng đến với DinoTrans</b></div>
            <div>Sàn trung gian vận chuyển phù hợp nhất cho bạn</div>
        </div>

        <div class="card-body">
            <div>Thống kê thông tin danh sách công ty tham gia hệ thống</div>
            <table class="table">
                <thead class="text-center">
                    <tr>
                        <th>Tên công ty</th>
                        <th>Tổng tài khoản</th>
                        <th>Số lượng máy vận chuyển</th>
                        <th>Loại công ty</th>
                        <th>Quản trị viên công ty</th>
                        <th>Tổng tiền đã thu được (VNĐ)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var data in dashboardForAdmin.ListCompanyReports)
                    {
                        <tr class="text-center">
                            <td>@data.CompanyName</td>
                            <td>@data.UserCount</td>
                            @if (data.CompanyRole == CompanyRoleEnum.Shipper)
                            {
                                <td>@data.MachineCount</td>
                            }
                            else
                            {
                                <td style="background-color:lightgray"></td>
                            }
                            @if(data.CompanyRole == CompanyRoleEnum.Shipper)
                            {
                                <td>Công ty máy xây dựng</td>
                            }
                            else
                            {
                                <td>Công ty vận chuyển</td>
                            }
                            <td>@data.AdminName</td>
                            <td>@data.Amount.ToString("N0")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="card-footer" style="background-color:white">
            <div class="row col-md-12">
                <div class="col-md-6">
                    <h4>Tiền nhận được từ các công ty máy xây dựng</h4>
                    <RadzenChart style="height: 400px">
                        <RadzenBarSeries Data="@CompanyShippers" CategoryProperty="CompanyName" Title="Tiền nhận được từ công ty máy xây dựng" LineType="LineType.Dashed" ValueProperty="Amount" Fill="green">
                            <RadzenSeriesDataLabels Visible="@showDataLabels" />
                        </RadzenBarSeries>
                        <RadzenValueAxis Formatter="@FormatAsVND">
                            <RadzenGridLines Visible="true" />
                            <RadzenAxisTitle Text="Tiền phải trả (VNĐ)" />
                        </RadzenValueAxis>
                        <RadzenCategoryAxis>
                            <RadzenAxisTitle Text="Tên công ty" />
                        </RadzenCategoryAxis>
                        <RadzenBarOptions Radius="5" />
                    </RadzenChart>
                </div>
                <div class="col-md-6">
                    <h4>Tiền nhận được từ các công ty vận chuyển</h4>
                    <RadzenChart style="height: 400px">
                        <RadzenBarSeries Data="@CompanyCarriers" CategoryProperty="CompanyName" Title="Tiền nhận được từ công ty vận chuyển" LineType="LineType.Dashed" ValueProperty="Amount" Fill="green">
                            <RadzenSeriesDataLabels Visible="@showDataLabels" />
                        </RadzenBarSeries>
                        <RadzenValueAxis Formatter="@FormatAsVND">
                            <RadzenGridLines Visible="true" />
                            <RadzenAxisTitle Text="Tiền phải trả (VNĐ)" />
                        </RadzenValueAxis>
                        <RadzenCategoryAxis>
                            <RadzenAxisTitle Text="Tên công ty" />
                        </RadzenCategoryAxis>
                        <RadzenBarOptions Radius="5" />
                    </RadzenChart>
                </div>
            </div>
        </div>
    </div>
}

@if (companyRole == CompanyRoleEnum.Carrier)
{
    <div class="card">
        <div class="card-header">
            <div><b>Chào mừng đến với DinoTrans</b></div>
            <div>Tìm dịch vụ vận chuyển phù hợp nhất cho bạn</div>
        </div>
        <div class="card-header">
            <div class="col-md-12 row">
                <div class="col-md-6">
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.GivenBids
                            </div>
                            <div>
                                Số thầu đã đặt giá
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.TendersInSelection
                            </div>
                            <div>
                                Thầu đang lựa chọn
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.SuccessRate %
                            </div>
                            <div>
                                Tỉ lệ thầu được chọn
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.TendersInExecution
                            </div>
                            <div>
                                Số lượng thầu đang tiến hành
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.TendersCompleted
                            </div>
                            <div>
                                Số lượng thầu đã hoàn thành
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.TotalSuccessTenderMoney.ToString("N0")
                            </div>
                            <div>
                                Tổng tiền thực tế đã nhận được (VNĐ)
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-4">
                            <div>
                                @dashboardForCarrier.TotalMoneyForAdmin.ToString("N0")
                            </div>
                            <div>
                                Tổng tiền trung gian cho Admin (VNĐ)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 text-center" style="background-color:white; align-items:center;">
                    <img src="./images/logo2.png" alt="Logo" style="max-width: 120px;" />
                    <div>
                        <b>@_currentUser.Company!.CompanyName</b>
                        <div>Chúng tôi là người liên lạc của bạn, chúng tôi sẽ hỗ trợ giải đáp thắc mắc mọi vấn đề liên quan tới vận chuyển và máy xây dựng</div>
                        <div>Số điện thoại bàn: @_currentUser.PhoneNumber</div>
                        <div>Số điện thoại di động: @_currentUser.Company.PhoneNumber</div>
                        <div>Email: @_currentUser.Company.Email</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-header">
            <div class="col-md-12" style="background-color:white">
                <h4>Thống kê tiền nhận được</h4>
                <RadzenChart style="height: 400px">
                    <RadzenBarSeries Data="@listMoneyByCompany" CategoryProperty="CompanyName" Title="Thống kê tiền vận chuyển" LineType="LineType.Dashed" ValueProperty="TotalMoney" Fill="green">
                        <RadzenSeriesDataLabels Visible="@showDataLabels" />
                    </RadzenBarSeries>
                    <RadzenValueAxis Formatter="@FormatAsVND">
                        <RadzenGridLines Visible="true" />
                        <RadzenAxisTitle Text="Tiền phải trả (VNĐ)" />
                    </RadzenValueAxis>
                    <RadzenCategoryAxis>
                        <RadzenAxisTitle Text="Tên công ty" />
                    </RadzenCategoryAxis>
                    <RadzenBarOptions Radius="5" />
                </RadzenChart>
            </div>
        </div>
    </div>
}

@code{
    private readonly ApplicationUser applicationUser;
    public DashboardForShipper dashboardForShipper { get; set; } = new();
    public DashboardForAdmin dashboardForAdmin { get; set; } = new();
    public DashboardForCarrier dashboardForCarrier { get; set; } = new();
    public List<CompanyReport> CompanyShippers { get; set; } = new();
    public List<CompanyReport> CompanyCarriers { get; set; } = new();

    public ApplicationUser _currentUser { get; set; } = new ApplicationUser
    {
        FirstName = "",
        LastName = ""
    };
    public string UserId { get; set; }
    public AuthenticationState? authState = null;
    public int CompanyId { get; set; }
    private CompanyRoleEnum companyRole = new();
    public List<TotalMoneyByCompany> listMoneyByCompany { get; set; } = new();
    protected override async Task OnInitializedAsync()
    {
        dashboardForAdmin.ListCompanyReports = new();
        var customState = (CustomAuthenticationStateProvider)AuthenticationState;
        authState = await customState.GetAuthenticationStateAsync();
        if (authState.User.Identity.IsAuthenticated)
        {
            var companyId = int.Parse(authState.User.FindFirstValue("CompanyId"));
            var response = await userService.GetCompanyRole(companyId);
            if (response.Success)
            {
                CompanyId = companyId;
                if (companyRole == CompanyRoleEnum.Admin || companyRole == CompanyRoleEnum.Shipper || companyRole == CompanyRoleEnum.Carrier)
                    companyRole = response.Data;
            }
        }
        else
        {
            if (!NavManager.Uri.Contains("register"))
            {
                NavManager.NavigateTo("/login");
            }
            else
            {
                NavManager.NavigateTo("/register");
            }
        }

        if (companyRole == CompanyRoleEnum.Shipper)
        {
            var result = await DashboardService.GetDashBoardForShipper(applicationUser);
            if (result.Success)
            {
                dashboardForShipper = result.Data;
                _currentUser = result.Data.AdminInfo;
                listMoneyByCompany = result.Data.StatisticByCompany;
                listMoneyByCompany.Add(new TotalMoneyByCompany
                {
                    TotalMoney = result.Data.TotalMoneyForAdmin,
                    CompanyName = _currentUser.Company!.CompanyName,
                });
            }
            else
            {
                await js.InvokeVoidAsync("alert", result.Message);
            }
        }
        else if(companyRole == CompanyRoleEnum.Admin)
        {
            var result = await DashboardService.GetDashBoardForAdmin();
            if (result.Success)
            {
                dashboardForAdmin = result.Data;
                CompanyShippers.AddRange(dashboardForAdmin.ListCompanyReports.Where(l => l.CompanyRole == CompanyRoleEnum.Shipper));
                CompanyCarriers.AddRange(dashboardForAdmin.ListCompanyReports.Where(l => l.CompanyRole == CompanyRoleEnum.Carrier));
                //listMoneyByCompany = result.Data.StatisticByCompany;
                //listMoneyByCompany.Add(new TotalMoneyByCompany
                //   {
                //      TotalMoney = result.Data.TotalMoneyForAdmin,
                //     CompanyName = _currentUser.Company!.CompanyName,
                //});
            }
            else
            {
                await js.InvokeVoidAsync("alert", result.Message);
            }
        }
        else
        {
            var result = await DashboardService.GetDashBoardForCarrier(applicationUser);
            if (result.Success)
            {
                dashboardForCarrier = result.Data;
                _currentUser = result.Data.AdminInfo;
                listMoneyByCompany = dashboardForCarrier.TotalMoneyByShipperCompanies;
            }
            else
            {
                await js.InvokeVoidAsync("alert", result.Message);
            }
        }
    }


    bool showDataLabels = true;

    string FormatAsVND(object value)
    {
        return ((double)value).ToString("N0") + " VNĐ";
    }
}